var ComponentExample = React.createClass({
    render: function() {
      return (
        <MDReactComponent text='Hello, **world**!' />
      )
    }
});

React.render(<ComponentExample/>, mountNode);